//@use 'generic';
$body-font-family: 'Roboto', sans-serif;
$heading-font-family: $body-font-family;

@use 'vuetify/styles/main' with (
  $spacers-steps: 24,

  $typography: (
    'h1': (
      'size': 80px,
      'weight': 600,
      'line-height': 94px,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': none
    ),
    'h2': (
      'weight': 700,
      'size': 60px,
      'line-height': 72px,
      'letter-spacing': -0.5px,
      'font-family': $heading-font-family,
      'text-transform': none
    ),
    'h3': (
      'weight': 700,
      'size': 36px,
      'line-height': 42px,
      'letter-spacing': 0.25px,
      'font-family': $heading-font-family,
      'text-transform': none
    ),
    'h4': (
      'weight': 500,
      'size': 32px,
      'line-height': 38px,
      'letter-spacing': 0.25px,
      'font-family': $heading-font-family,
      'text-transform': none
    ),
    'h5': (
      'weight': 400,
      'size': 24px,
      'line-height': 36px,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': none
    ),
    'h6': (
      'weight': 500,
      'size': 20px,
      'line-height': 24px,
      'letter-spacing': 0.15px,
      'font-family': $heading-font-family,
      'text-transform': none
    ),
    'subtitle-1': (
      'weight': 400,
      'size': 20px,
      'line-height': 24px,
      'letter-spacing': 0.15px,
      'font-family': $body-font-family,
      'text-transform': none
    ),
    'subtitle-2': (
      'weight': 500,
      'size': 14px,
      'line-height': 24px,
      'letter-spacing': 0.1px,
      'font-family': $body-font-family,
      'text-transform': none
    ),
    'body-1': (
      'weight': 400,
      'size': 16px,
      'line-height': 24px,
      'letter-spacing': .03125em,
      'font-family': $body-font-family,
      'text-transform': none
    ),
    'body-2': (
      'weight': 400,
      'size': 14px,
      'line-height': 20px,
      'letter-spacing': .0178571429em,
      'font-family': $body-font-family,
      'text-transform': none
    ),
    'button': (
      'weight': 500,
      'size': 16px,
      'line-height': 24px,
      'letter-spacing': 1.35px,
      'font-family': $body-font-family,
      'text-transform': uppercase
    ),
    'button-small': (
      'weight': 500,
      'size': 14px,
      'line-height': 16px,
      'letter-spacing': 1.25px,
      'font-family': $body-font-family,
      'text-transform': uppercase
    ),
    'caption': (
      'weight': 400,
      'size': 12px,
      'line-height': 16px,
      'letter-spacing': 0.4px,
      'font-family': $body-font-family,
      'text-transform': none
    ),
    'overline': (
      'weight': 500,
      'size': 14px,
      'line-height': 16px,
      'letter-spacing': 1.5px,
      'font-family': $body-font-family,
      'text-transform': uppercase
    )
  ),

  $utilities: (
    'flex': (
        responsive: true,
        property: flex,
        values: (
          fill: 1 1 auto,
          fit: 1
        )
      ),
  ),

  $button-sizes: (
    height: 48px
  ),

  $rounded: (
    'xl': 16px
  )
);

.bg-secondary-btn {
  --v-theme-overlay-multiplier: var(--v-theme-secondary-overlay-multiplier);
  background: rgba(var(--v-theme-secondary), .1) !important;
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !important;
}

.text-secondary-bt {
  color: rgba(var(--v-theme-secondary), .1) !important;

  .v-icon {
    color: rgb(var(--v-theme-secondary));
  }
}

.border-outline {
  border-color: rgba(var(--v-theme-secondary), .1);
}

.bg-card {
  --v-theme-overlay-multiplier: var(--v-theme-secondary-overlay-multiplier);
  background: rgba(var(--v-theme-secondary), .15) !important;
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !important;
}

.v-checkbox {
  --v-medium-emphasis-opacity: 1;
}

.v-field--variant-filled.v-field--focused .v-field__overlay {
  --v-theme-overlay-multiplier: 0 !important;
}

// temp fix
.v-input--density-comfortable .v-field--variant-filled.v-field--single-line {
 --v-input-padding-top: -8px;

  .v-label.v-field-label {
    padding-top: 12px;
  }
}

@media (prefers-color-scheme: dark) { }
