.dw-tooltip {
  position: relative;

  &:before {
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    
    bottom: 100%;
    left: 50%;
    margin-bottom: 16px;
    transform: translateX(-50%);
    
    min-height: 40px;
    padding: 8px 16px;
    border-radius:16px;
    background: #333333;
    white-space: pre;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    display: none;
    
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
   
    border: 8px solid #333333;
    border-color: #333333 transparent transparent transparent;
  }

  &:hover:before, &:hover:after {
    display: block;
  }

  &.dw-tooltip__right {
    &:before {
      top: 50%;
      bottom: initial;
      left: 100%;
      margin-bottom: 0;
      margin-left: 8px;
      transform: translateY(-50%);
    }

    &:after {      
      display: none
    }
  }
}
